
@import "variables.less";
@import "mixins.less";


.container {
    margin-top: 15px;
    // max-width: 800px;
}

header {
    .flex-d(column);
    margin-bottom: 20px;

    h1 {
        text-align: center;
        font-family: cursive;
        font-size: 250%;
        margin-bottom: 20px;
    }

    button {
        width: 15%;
        // text-align: center;
        margin: 15px 45%;
        height: 30px;
        border-radius: 5px;
        font-family: cursive;
        font-size: 110%;

        
    }

    img {
        width: 100%;
    }

    @media @tablet {
        button {
            width: 20%;
            margin: 15px 40%;
        }
        
    }

    @media @phone {
        button {
            width: 30%;
            margin: 15px 35%;
        }
    }
}

main {
    .flex-d(column);
    // background-color: mediumblue;

    h2 {
        text-align: center;
        font-family: cursive;
        font-size: 150%
    }
    
    .first-content, .second-content, .third-content {
        .flex-d(row);
        // justify-content: flex-start;
        margin: 20px 0;

        section, figure {
            width: 49%;
        }

        section {
            .flex-d(column);
            justify-content: flex-start;

            h4 {
                font-family: cursive;
                font-size: 100%;
                margin-bottom: 10px;
            }
        }

        @media @tablet {
            .flex-d(column);
            width: 100%;

            section {
                width: 90%;
                padding: 0 5%;
            }

            figure {
                padding: 0 5%;
            }
        }

        @media @phone {
            figure {
                display: none;
            }
        }
    }

    @media @tablet {
        .second-content {
            flex-direction: column-reverse;
        }
    }

    h3 {
        text-align: center;
        font-size: 100%;
        font-family: cursive;
    }

    button {
        width: 10%;
        // text-align: center;
        margin: 15px 45% 0;
        height: 30px;
        border-radius: 5px;
        font-family: cursive;
        font-size: 110%;

        @media @tablet {
            width: 20%;
            margin: 15px 40%;
        }

        @media @phone {
            width: 30%;
            margin: 15px 35%;
           
        }
    }
}

