
@import "variables.less";
@import "mixins.less";

nav {
    .flex-d(row);
    margin-bottom: 20px;
}

nav section {
    width: 20%;
    .flex-d(row);
    margin-right: 2%;

    @media @tablet {
        width: 30%;
    }
}

nav section a {
    // margin-right: 5%;
    text-decoration: none;
    color: black;
}